<!doctype html>

<html>
<head>
	<title>Challenge</title>	
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  	<script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<!--Bootstrap-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<!--Custom CSS-->
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/challenge.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body onload=displayParticipants()>
	<!-- main content of the page goes here -->
	<div class="main challenge">
		<!--Challenge title-->
		<div class="page-title" style="background-color: {{darkerColor}}">Challenge</div>
		<!--show the challenge-->
		<p class="big-font">Today's challenge is</p>
		<p class="big-font" id="challenge" style="border-color: {{darkerColor}}">{{challenge}}</p>
		<!--Challenge Completed button-->
		<button class="btn btn-primary medium-font" id="completed-btn">Challenge Completed!</button>
		<!--show participants-->
		<div class="participants">
			<p class="medium-font">Number of Participants:</p>
			<p class="large-font" id="displayCount">(loading...)</p>
			<p id="partUpdateMessage">{{category}}</p>
			
			<a href="/history" class="credit"><i class="fa fa-flag" aria-hidden="true"></i> View Past Challenges&nbsp;</a>
		</div>
	</div><!--/main-->

	<!-- top header: shows date and theme -->
	<div class="top-header">
		<div class="date-square calendar-btn" style="background-color: {{darkerColor}}">
			<a href="/calendar">{{mon}}<br>{{date}}</a>
		</div>
		<div class="heading-theme navbar-btn-home" style="background-color: {{color}}">
			<a href="/" id="themeText">{{theme}}</a>
		</div>
	</div><!--/header-->

	<!-- bottom navbar -->
	<div class="bottom-navbar">
	<div class="col-5 navbar-font navbar-btn-home" style="background-color: {{color}}"><a href="/"><i class="fa fa-home fa-3x" aria-hidden="true"></i><br>Home</a></div>
	<div class="col-5 navbar-small-font" style="background-color: {{darkerColor}}"><i class="fa fa-calendar-check-o fa-3x" aria-hidden="true"></i><br>Challenge</div>
	<div class="col-5 navbar-small-font navbar-btn-organizations" style="background-color: {{color}}"><a href="/organizations"><i class="fa fa-heart fa-3x" aria-hidden="true"></i><br>Organizations</a></div>
	<div class="col-5 navbar-font navbar-btn-news" style="background-color: {{color}}"><a href="/news"><i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i><br>News</a></div>
	<div class="col-5 navbar-font navbar-btn-trophies" style="background-color: {{color}}"><a href="/trophies"><i class="fa fa-trophy fa-3x" aria-hidden="true"></i><br>Trophies</a></div>
	</div><!--/navbar-->

	<!--Firebase-->
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyDRhai38EtSB6BzazJtVnpD4FD0I0_3Av0",
	    authDomain: "awareaday.firebaseapp.com",
	    databaseURL: "https://awareaday.firebaseio.com",
	    storageBucket: "awareaday.appspot.com",
	    messagingSenderId: "385024179257"
	  };
	  firebase.initializeApp(config);
	</script><!--/Firebase-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--Custom JS-->
	<script src="/js/introHCI.js"></script>
</body>
</html>
