<!doctype html>

<html>
<head>
	<title>Challenge</title>	
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  	<script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<!--Bootstrap-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!--Custom CSS-->
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/challenge.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body onload=displayParticipants()>
	<!-- main content of the page goes here -->
	<div class="main">
		<div class="page-title" style="background-color: {{darkerColor}}">Challenge</div>
		<div class="challenge">
			<h2>Today's challenge is</h2>
			<h3 id="challenge">{{challenge}}</h3>
		</div>
			<!--<div class="challenge-description" style="text-align:left">
			<p> About this challenge: <p>
				<p> Give an umbrella to a homeless or someone in need of one! </p>
			</div>-->
<!--
			<div class="completed">
				<button id="completedbtn"> Challenge Completed!
				 <a href="/trophies">Challenge Completed!</a>
				 </button>
				<p> participants<span id="displayCount"> 0 </span> times. </p>
			</div>
	</div> -->
		<div class="completed">
			<button id="completedbtn" onclick=updateCount()>Challenge Completed!</button>
			<!--<p> participants<span id="displayCount"> 0 </span> times. </p>-->
			<div class="participants">
				<p><b>Number of participants:</b></p>
				<p id="displayCount"></p>
				<p id="partUpdateMessage"></p>
			</div>
		</div>
	</div><!--/main-->

	<!-- top header: shows date and theme -->
	<div class="top-header">
		<div class="date-square" style="background-color: {{darkerColor}}">
			{{mon}}<br>{{date}}
		</div>
		<div class="heading-theme" style="background-color: {{color}}">
			{{theme}}
		</div>
	</div><!--/header-->

	<!-- bottom navbar -->
	<div class="bottom-navbar">
		<div class="col-5 navbar-font" style="background-color: {{color}}"><a href="/">Home</a></div>
		<div class="col-5 navbar-small-font" style="background-color: {{color}}"><a href="/challenge">Challenge</a></div>
		<div class="col-5 navbar-small-font" style="background-color: {{color}}"><a href="/organizations">Organizations</a></div>
		<div class="col-5 navbar-font" style="background-color: {{color}}"><a href="/news">News</a></div>
		<div class="col-5 navbar-font" style="background-color: {{color}}"><a href="/trophies">Trophies</a></div>
	</div><!--/navbar-->

	<!--Firebase-->
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyDRhai38EtSB6BzazJtVnpD4FD0I0_3Av0",
	    authDomain: "awareaday.firebaseapp.com",
	    databaseURL: "https://awareaday.firebaseio.com",
	    storageBucket: "awareaday.appspot.com",
	    messagingSenderId: "385024179257"
	  };
	  firebase.initializeApp(config);
	</script><!--/Firebase-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<script>
	$("#completedbtn").click(projectClick);

function projectClick (e){
	e.preventDefault();
	$(this).css("background-color", "grey");
}

	</script>
</body>
</html>
