<!doctype html>

<html>
<head>
	<title>Aware-A-Day</title>	
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  	<script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<!--Bootstrap-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<!--Custom CSS-->
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<!-- main content of the page goes here -->
	<div class="main2">
		<div class="header">
			<!--Login link-->
			<a style="float:top" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>

			<!--Help button-->
			<div class="help">
				<button id="help-btn">?</button>
				<div id="myhelp" >
				<!--Content in Help-->
					<div class="help-content" >
						<!--X button-->
						<span class="close large-font"> &times; </span>
						<p><center>Welcome to <b>Aware&middot;A&middot;Day</b>!</center><br>
						Aware&middot;A&middot;Day presents you with a daily theme and a daily challenge.
						<br><br>
						<a href="/challenge">Challenges</a> are tangible ways for you to address issues that affect you and your community.
						<br><br>
						Aware&middot;A&middot;Day also allows you to browse different <a href="/organizations">Organizations</a> and <a href="/news">News</a> articles related to the theme of the day.
						<br><br>
						You are able to win <a href="/trophies">Trophies</a> as you complete the daily challenges.
						<br><br>
						By clicking on today's date ({{mon}} {{date}}), you can see the <a href="/calendar">Calendar</a> of past and future themes.</p>
					</div>
				</div>
			</div>
		</div>

		<!--show date-->
		<div class="date large-font" style="background-color: {{color}}">
			<div class='center-container'><p id="date"><a href="/calendar">{{month}} {{date}}</a></p></div>
		</div>
		<!--show theme-->
		<div class="theme">
			<p class="large-font" id="theme">Today is<br>{{theme}}!</p>
		</div>
		<!--day description-->
		<div class="day-description medium-font">
			<p>{{summary}}</p>
		</div>
		<!--icon-->
		<div class="icon navbar-btn-challenge medium-font" style="background-color: {{darkerColor}}">
			<div class="center-container"><a href="/challenge">See Today's<br>Challenge</a></div>
		</div>
	</div><!--/home-->

	<!-- bottom navbar -->
	<div class="bottom-navbar">
		<div class="col-5 navbar-font" style="background-color: {{darkerColor}}"><i class="fa fa-home fa-3x" aria-hidden="true"></i><br>Home</div>
		<div class="col-5 navbar-small-font navbar-btn-challenge" style="background-color: {{color}}"><a href="/challenge"><i class="fa fa-calendar-check-o fa-3x" aria-hidden="true"></i><br>Challenge</a></div>
		<div class="col-5 navbar-small-font navbar-btn-organizations" style="background-color: {{color}}"><a href="/organizations"><i class="fa fa-heart fa-3x" aria-hidden="true"></i><br>Organizations</a></div>
		<div class="col-5 navbar-font navbar-btn-news" style="background-color: {{color}}"><a href="/news"><i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i><br>News</a></div>
		<div class="col-5 navbar-font navbar-btn-trophies" style="background-color: {{color}}"><a href="/trophies"><i class="fa fa-trophy fa-3x" aria-hidden="true"></i><br>Trophies</a></div>
	</div><!--/navbar-->

	<!--Firebase-->
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyDRhai38EtSB6BzazJtVnpD4FD0I0_3Av0",
	    authDomain: "awareaday.firebaseapp.com",
	    databaseURL: "https://awareaday.firebaseio.com",
	    storageBucket: "awareaday.appspot.com",
	    messagingSenderId: "385024179257"
	  };
	  firebase.initializeApp(config);
	</script><!--/Firebase-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--Custom JS-->
	<script src="/js/introHCI.js"></script>
</body>
</html>
