<!doctype html>

<html>
<head>
	<title>Aware-A-Day</title>	
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  	<script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<!--Bootstrap-->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!--Custom CSS-->
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/home.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<!-- main content of the page goes here -->
	<div class="home">
		<div class="header">
			<a style="float:top" href="/login">Login</a>
			<div class="help-button">
				<button id="help"onclick=displayHelp()>?</button>
				<div id="myhelpbtn" >
				<!--Content in help button-->
					<div class="help-content" >
						<span class="close" onclick=displayHelp()> &times; </span>
						<p><center>Welcome to <b>Aware&middot;A&middot;Day</b>!</center>
						<br>
						Aware&middot;A&middot;Day presents you with a daily theme and a daily challenge.
						<br><br>
						<a href="/challenge">Challenges</a> are tangible ways for you to address issues that affect you and your community.
						<br><br>
						Aware&middot;A&middot;Day also allows you to browse different <a href="/organizations">Organizations</a> and <a href="/news">News</a> articles related to the theme of the day.
						<br><br>
						You are able to win <a href="/trophies">Trophies</a> as you complete the daily challenges. </p>
					</div>
				</div>
			</div>
		</div>

		<div class="date" style="background-color: {{color}}">
			<p id="date">{{month}} {{date}}</p>
		</div>
		<div class="theme">
			<p style="font-size: 300%">Today is </p>
				<p style="font-size: 250%" id="theme">{{theme}}!</p>
				<!--<p class="themecolor"> in center </p>-->
		</div>
<!--

		<div class="icon">
			<a href="/challenge" style="font-size: 14px; color:black; font-weight: bold"> Challenge </a>
		</div> -->
		

		<div class="day-description">
			<p>{{summary}}</p>
		</div>
		<div class="icon" style="background-color: {{darkerColor}}"><a href="/challenge">See Today's<br>Challenge</a></div>
	</div>

	<!--/home-->

	<!-- bottom navbar -->
	<div class="bottom-navbar">
		<div class="col-5 navbar-font" style="background-color: {{color}}"><a href="/">Home</a></div>
		<div class="col-5 navbar-small-font" style="background-color: {{color}}"><a href="/challenge">Challenge</a></div>
		<div class="col-5 navbar-small-font" style="background-color: {{color}}"><a href="/organizations">Organizations</a></div>
		<div class="col-5 navbar-font" style="background-color: {{color}}"><a href="/news">News</a></div>
		<div class="col-5 navbar-font" style="background-color: {{color}}"><a href="/trophies">Trophies</a></div>
	</div><!--/navbar-->

	<!--Firebase-->
	<script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyDRhai38EtSB6BzazJtVnpD4FD0I0_3Av0",
	    authDomain: "awareaday.firebaseapp.com",
	    databaseURL: "https://awareaday.firebaseio.com",
	    storageBucket: "awareaday.appspot.com",
	    messagingSenderId: "385024179257"
	  };
	  firebase.initializeApp(config);
	</script><!--/Firebase-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--Custom JS-->
	<script src="/js/introHCI.js"></script>
</body>
</html>
